collection_id=[PAYMENT_ID]
&collection_status=approved
&external_reference=[EXTERNAL_REFERENCE]
&payment_type=credit_card
&preference_id=[PREFERENCE_ID]
&site_id=[SITE_ID]
&processing_mode=aggregator
&merchant_account_id=nul

<h2>succes</h2>
<h2>payment type: {{payment_type}}</h2>
<h2>external reference: {{external_reference}}</h2>
<h2>collection id: {{collection_id}}</h2>